.stand {
  display: flex;
  justify-content: space-between;
}

.inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  border-radius: 5px;
  height: 36px;
  width: 372px;
  margin-top: 90px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 94px;
}

.checkboxes {
  margin-top: 101px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
