.spanBlock {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #0080ff;

  margin: 32px 0 24px;
}

.span {
  margin-left: 14px;
}

.input {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;

  width: 100%;
  padding-left: 24px;
}

.pen {
  width: 24px;
  height: 24px;
}
