.App {
  --header_height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 131px;
  width: 100vw;
  box-sizing: border-box;
}

.hw {
  border-top: #d9d9d9 1px solid;
  border-bottom: #d9d9d9 1px solid;
  width: 100vw;
  max-height: 336px;
  overflow: auto;
  padding: 0 70px 0 70px;
  margin-bottom: 40px;
}

.hwTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  margin-bottom: 10px;
  padding: 0 70px 0 70px;
  color: #000000;
}

.hw2 {
  border-top: #d9d9d9 1px solid;
  border-bottom: #d9d9d9 1px solid;
  width: 100vw;
  min-height: 340px;
  padding: 0 70px 0 70px;
  margin-bottom: 40px;
}

.hw10 {
  border-top: #d9d9d9 1px solid;
  border-bottom: #d9d9d9 1px solid;
  width: 100vw;
  min-height: 340px;
  padding: 0 70px 0 70px;
  margin-bottom: 40px;

  button {
    margin-top: 43px;
    width: 141px;
  }
}
